.action-button {
  float: left;
  margin-left: 5px;
}

#top-bar {
  padding: 16px;
  background-color: #fafafa;
  width: 100%;
  margin: 0;

  #jobsity-logo {
    height: 35px
  }

  .btn {
    margin-top: 5px
  }
}

#avatar-container {
  float: right;
  margin-left: 10px;

  #avatar-logged-user {
    height: 30px
  }

  #logged-username {
    color: #777

  }
}

#hr {
  margin: 0
}
