#login-panel {
  width: 400px;
  margin: 100px auto;

  .panel-heading {
    font-size: 150%;
    text-align: center;
  }
}

#register-panel {
  width: 400px;
  margin: 50px auto;

  .panel-heading {
    font-size: 150%;
    text-align: center;
  }
}

#confirmation-container {
  width: 400px;
  margin: 50px auto;
  text-align: center;

  .message {
    font-size: 130%;
    margin-bottom: 10px;
  }

  .glyphicon-check {
    color: #33cc33
  }
}
